.AnnulerSortie {
    margin: 20px 25vw 20px 25vw;
    background-color: rgb(245, 245, 245, 0.80);
    box-shadow: 1px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.InfoGlobalAnnulerSortie {
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
}

.TitreAnnulation{
    text-align: center;
    margin-bottom: 3%;
}

.InfoAnnulationSortie{
    display: block;
}

.MotifAnnulation{
    display: flex;
}

#btnAnnulation {
    margin-left: 26%;
    margin-bottom: 2%;
    margin-top: 91px;
}
/*-------------Responsive-----------------*/
@media screen and (max-width: 950px) {
    .AnnulerSortie{
        margin: 100px 25vw 20px 25vw;
    }
}

@media screen and (max-width: 500px) {
    .AnnulerSortie {
        margin: 100px 2vw 20px 2vw;
    }
    .InfoAnnulationSortie{
        padding-right: 20px;
        padding-left: 20px;
    }
    #btnAnnulation{
        margin: 100px 5vw 20px -10vw;
    }

}