
.bodyCreaSortie {
    display: flex;
    justify-content: center;
}

label {
    font-style: oblique;

}

.div1 {
    margin-left: 25%;
    margin-top: 5%;
}

.div2 {
    margin-left: 25%;
    margin-top: 5%;
}

.div3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-top: 5%;
}

#sortie {
    margin-left: -25%;
}

#participation {
    margin-left: -25%;

}

#ou {
    margin-left: -25%;
}

.cardSortie {
    margin: 4% 10px 9%;
    width: 400px; /*1*/
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 5px 20px #999; /*4*/
    border-radius: 10px;
    opacity: 97%;
}