.bodyCreationUser {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}


.cardSortie {
    margin-bottom: 9%;
    margin-top: 4%;
    width: 400px; /*1*/
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 5px 20px #999; /*4*/
    border-radius: 10px;
    opacity: 97%;
}

label {
    font-style: oblique;
    font-weight: bold;
}

.div1 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.btnCreaUser {
    display: flex;
    justify-content: space-between;
    margin-left: 26%;
    margin-bottom: 7%;
}