
.ProfilUser {
    margin: 20px 25vw 20px 25vw;
    background-color: rgb(245,245,245, 0.80) ;
    box-shadow: 1px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.InfoGlobalUser{
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imageP {
    text-align: center;
}
#imgUser{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.titrePseudo {
    text-align: center;
}
.InfoUser{
    display: flex;
    justify-content: center;
    padding-left:150px;
    padding-right:150px;
    text-align: left;
}
.labelSortie{
    margin: 15px auto 5px auto;
    text-align: left;
    font-size: 1.1em;
    padding-bottom: 5px;
}
.widgetUser input{
    margin: auto;
    width: 40vw;
    height: 1em;
    border:none;
    border-radius: 5px;
    padding-bottom: 10px;
    font-size: 1em;
}

.btnFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
    margin-bottom: 15px;
}
.btn_profil{
    width: 150px;
    height: 25px;
    line-height: 20px;
    border-radius: 10px;
    border:none;
    background-color: #011F39 ;
    opacity: 80%;
    color: white;
    font-weight: bold;
}
.btn_profil:hover{
    cursor:pointer;
    color: #e69a20;
}
.btn_retour_profil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
}

/*-------------Responsive-----------------*/
@media screen and (max-width: 950px) {
    .ProfilUser{
        margin: 100px 25vw 20px 25vw;
    }
}

@media screen and (max-width: 500px) {
    .ProfilUser {
        margin: 100px 2vw 20px 2vw;
    }
    .InfoUser{
        padding-right: 20px;
        padding-left: 20px;
    }
    .widgetUser input{
        width: 80vw;
    }

}

