.bodyDetailParticipant {

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.1em;
    color: darkorange;
}

.titreDetailParticipant {
    text-align: end;
}

label {
    font-style: oblique;
    font-weight: bold;
}

.img {
    max-width: 250px;
    padding-right: 50px;
}

.btnDetailParticipant {
    display: flex;
    justify-content: space-between;
}