.ProfilParticipant {
    margin: 20px 25vw 20px 25vw;
    background-color: rgb(245, 245, 245, 0.80);
    box-shadow: 1px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.InfoGlobalParticipant {
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titrePseudoP {
    text-align: center;
}

.imageParticipant {
    text-align: center;
}

#imgParticipant {
    width: 40%;
    margin-bottom: 3%;
}

.InfoP {
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
}

.boutonFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
}

/*-------------Responsive-----------------*/
@media screen and (max-width: 950px) {
    .ProfilParticipant {
        margin: 100px 25vw 20px 25vw;
    }
}

@media screen and (max-width: 500px) {
    .ProfilParticipant {
        margin: 100px 2vw 20px 2vw;
    }

    .InfoP {
        padding-right: 20px;
        padding-left: 20px;
    }


}
