.bodyDetailParticipant {

    display: flex;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
}

.cardSortie {
    margin-bottom: 9%;
    margin-top: 4%;
    width: 400px; /*1*/
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 5px 20px #999; /*4*/
    border-radius: 10px;
    opacity: 97%;
}

.div1 {

}

label {
    font-style: oblique;
    font-weight: bold;
}

.img {
    max-width: 250px;
    padding-right: 50px;
}

.btnDetailParticipant {
    display: flex;
    justify-content: space-between;
}