
.ModifierSortie {
    margin: 20px 35vw 20px 35vw;
    background-color: rgb(245, 245, 245, 0.80);
    box-shadow: 1px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.InfoGlobalModifSortie {
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TitreModifSortie {
    text-align: center;
}

.infoModifSortie {
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
}

#labelModifSortie {
    margin: 15px auto 5px auto;
    text-align: left;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.lieuModifSortie {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#modif {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#modif_publier {
    margin-left: -60%;
}

#modif_cree {
    margin-left: 40%;
}

.autreBoutonModif {
    display: flex;
    justify-content: space-between;
    margin-right: 33%;
    margin-left: 33%;
    margin-top: 2%;
}

/*-------------Responsive-----------------*/
@media screen and (max-width: 950px) {
    .ModifierSortie {
        margin: 100px 25vw 20px 25vw;
    }
}

@media screen and (max-width: 500px) {
    .ModifierSortie {
        margin: 100px 2vw 20px 2vw;
    }

    .infoModifSortie {
        padding-right: 20px;
        padding-left: 20px;
    }

    .widgetUser input {
        width: 80vw;
    }

    .autreBoutonModif {
        margin: -10px 11vw 10px 11vw;
    }
}