.bodyModifierSortie {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

h2 {
    text-align: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 5%;
    margin-left: 10%;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 5%;
    margin-left: 10%;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
    margin-bottom: 5%;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

#modif {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#modif_publier {
    margin-left: -60%;
}

#modif_cree {
    margin-left: 40%;
}

.cardSortie {
    margin-bottom: 2%;
    margin-top: 2%;
    width: 400px; /*1*/
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 5px 20px #999; /*4*/
    border-radius: 10px;
    opacity: 97%;
}

/*.bodyModifierSortie {*/
/*    text-align: center;*/
/*    margin-top: 90px;*/
/*}*/

/*#labelNom {*/
/*align-content: center;*/
/*    margin-left: 120px;*/
/*}*/

/*#labelDateHeureDebut {*/
/*    align-content: center;*/
/*}*/

/*#labelDuree {*/
/*    align-content: center;*/
/*}*/

/*#labeldateLimiteInscription {*/
/*    align-content: center;*/
/*    margin-left: -60px;*/
/*}*/

/*#labelNbInscriptionsMax{*/
/*    align-content: center;*/
/*    margin-left: -20px;*/
/*}*/

/*#labelDescription{*/
/*    align-content: center;*/
/*    margin-left: -18px;*/
/*}*/
/*#labelLieu{*/
/*    align-content: center;*/
/*    margin-left: 180px;*/
/*}*/


/*#modif{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-right: 40%;*/
/*    margin-left: 40%;*/
/*}*/
/*.autreBTN{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-right: 40%;*/
/*    margin-left: 40%;*/
/*}*/
