*{
    font-family: 'Rubik', sans-serif;
}

nav ul{
    display: flex;
    justify-content: right;
    padding: 0;
}

nav li{
    padding-right: 15px;
    list-style: none;
    font-size: 1.5em;
}

header {
    margin: 15px;
    padding: 15px;
    text-align: center;
    height: 7em;
    vertical-align: middle;
    background-color: #3b82f6;
}

.navbar{
    text-decoration: none;
}

.connexionUser{
    margin:auto;
    margin-top : 50px;
    margin-bottom: 50px;
    padding:15px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #93c5fd;
    font-size: 1.1em;
}

footer{
    border-top: 1px solid #D3D3D3;
    margin-right:15px;
    margin-left:15px;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom:0; left:0; right:0;
}
