*{
    font-family: 'Rubik', sans-serif;
}
nav ul {
    position: fixed;
    margin: 0;
    right: 0;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #011F39;
    -webkit-box-shadow: 0px 1px 11px 0px #5E5E5E;
    box-shadow: 0px 1px 11px 0px #5E5E5E;
    opacity: 80%;
}

.blocNavBar{
    display: flex;
    justify-content: right;
}

nav li {
    padding-right: 20px;
    list-style: none;
    font-size: 1.5em;
    height: 70px;
}

header {
    width: 100%;
    height: 45%;
    z-index: 2;
    color: whitesmoke;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: auto;
}

.imageHeader {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 50%;
    margin-top: 100px;
}

.imageLogo {
    top: -55px;
    left: 1px;
    position: fixed;
    width: 175px;
    height: 175px;
    z-index: 5;
}

.navbar {
    text-decoration: none;
    color: whitesmoke;
}
.navbar:hover{
    color: #e69a20;
}
.close{
    visibility: hidden;
}
/*----------------Mise en forme des filtres-----------------------*/
.sectionFiltre{
    margin: 100px 180px 30px 180px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f7ff;
    opacity: 80%;
    box-shadow: 1px 5px 20px #999;
}

.sectionFiltre label{
    margin-left: 10px;
}

.filtreSortie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr) ;
    grid-column-gap: 0;
    grid-row-gap: 15px;

}
.filtre1{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: row;
}
.filtre2{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: row;
}
.filtre3{
    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: row;
}
.filtre4{
    grid-area: 4/1/5/2;
    display: flex;
    flex-direction: row;
}
.filtre5{
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: row;
}
.filtre6{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: row;
}
.filtre7{
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: row;
}
.filtre8{
    grid-area: 4/2/5/3;
    display: flex;
    flex-direction: row;
}
.filtre9{
    grid-area: 5/2/6/3;
    text-align: center;
}
.filtreWidget{
    padding-left: 10px;
}
.btn_valid{
    margin: 0 150px 0 150px;
}
/*-----------------------END--------------------------*/

.connexionUser {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #011F39;
    opacity: 80%;
    border-radius: 10px;
    font-size: 1.1em;
    color: whitesmoke;
}

.connexion {
    display: flex;
    flex-direction: column;
}

.labelConnexion {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.inputConnexion {
    font-size: 1.2em;
}

.btn_Connexion {
    margin: auto;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: 1em;
}

.btn_Connexion:hover {
    cursor: pointer;
    background-color: dimgrey;
}

.detailSortie {
    text-decoration: none;
    padding-right: 20px;
}

li {
    list-style: none;
}

.titreListeCard {
    text-align: center;
    margin-left: 20vh;
    background-color: #bdbdbd;
    color: #282828;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 80vw;
    display: none;
}

.ListeCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px; /*1*/
    background-color: white; /*3*/
    box-shadow: 1px 5px 20px #999; /*4*/
    border-radius: 10px;
    opacity: 85%;
}

.card:hover .card-image img { /*6*/
    width: 160%;
    opacity: 1;
}

.card-title {
    text-align: center;
}

.card-body {
    text-align: left; /*1*/
    padding: 15px 20px; /*2*/
    box-sizing: border-box; /*3*/
}

.card-image {
    height: 250px; /*1*/
    position: relative; /*2*/
    overflow: hidden; /*3*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image img {
    width: 100%; /*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1); /*6*/
    /*7 - Transition */
    opacity: 100%;
}

.card-image img:hover{
    filter: grayscale(0);
    transition-property: filter, width;
    transition-duration: .3s;
    transition-timing-function: ease;
    opacity: 100%;
}
/*CSS DETAIL SORTIE*/
.tab{
    width: 301px;
    table-layout: fixed;
    border-collapse: collapse;
}


th,td{
    border: 1px solid darkorange;
    padding: 10px;
}


footer {
    border-top: 1px solid #D3D3D3;
    margin-right: 15px;
    margin-left: 15px;
    padding: 15px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

/*-------------------responsive--------------------------*/

@media (max-width: 1200px) {

    .blocNavBar{
        padding-right: 10px;
    }
    nav li {
        font-size: 1.2em;
    }

}

@media (max-width: 1070px) {

    .blocNavBar{
        padding-right: 8px;
    }
    nav li {
        font-size: 1em;
    }
}

@media (max-width: 1100px) {

    .sectionFiltre{
        margin: 60px 10px 30px 10px;
        border: 1px solid black;
        padding: 10px;
    }
    .filtreSortie{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
        text-align: center;
        font-size: 0.9em;
    }
    .filtre1{grid-area: 1/1;}
    .filtre2{grid-area: 2/1;}
    .filtre3{grid-area: 3/1;}
    .filtre4{grid-area: 4/1;}
    .filtre5{grid-area: 5/1;}
    .filtre6{grid-area: 6/1;}
    .filtre7{grid-area: 7/1;}
    .filtre8{grid-area: 8/1;}
    .filtre9{grid-area: 9/1; text-align: center;}
}

@media (max-width: 950px) {
    .sectionFiltre{
        margin: 125px 10px 30px 10px;
        border: 1px solid black;
        padding: 10px;
    }
    /*Bloc contenant les différents liens*/
    .blocNavBar {
        visibility: hidden;
    }

    .filtreSortie{
        display: grid;
        grid-template-columns: 1fr ;
        gap:20px;
    }

    .blocNavBar.active {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        transition-duration: 0.8s;
        visibility: visible;
    }

    /* Sidenav menu */
    .sidenav {
        height: 100%;
        width: 300px;
        position: fixed;
        z-index: 1;
        top: 80px;
        left: -300px;
        background-color: #e8e8e8;
        transition: left 0.6s ease;
    }

    /* Sidenav menu links */
    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
    }

    .sidenav a:hover {
        color: #e69a20;
    }

    .sidenav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Active class */
    .sidenav.active {
        left: 0;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .burger-icon {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 5;
    }

    /* Icône burger */
    .burger-icon span {
        margin: 6px 0;
        display: block;
        width: 35px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    .close{
        visibility: visible;
    }

    /*Affichage profil en mode smartphone*/
    .bodyDetailUser {
        grid-template-columns: 1fr;
    }

    .imageP {
        justify-content: center;
        padding-bottom: 20px;
    }

    #imgUser {
        max-width: 650px;
        height: 200px;
        padding: 0 0 0 0;

    }

    .champsDetailUser {
        margin-left: 90px;
    }

    .affichagePassword {
        display: flex;
        flex-direction: column;
    }

    #update_profile_save {
        margin-left: 100px;
        margin-right: 100px;
    }

}

@media (max-width: 500px){
    .CreationSortie{
        display:none;

    }

    .sectionFiltre {
        margin-top: 15vh;
        margin-bottom: 5vh;
    }

    .bodyDetailUser{
        margin-top: 90px;
    }
}

.delete {
    background-color: transparent;
    position: relative;
    border: none;
}

.delete::after {
    content: 'supprimer';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
}

.icon {
    transform: scale(1.2);
    transition: .2s linear;
}

.delete:hover > .icon {
    transform: scale(1.5);
}

.btn:hover > .icon path {
    fill: rgb(168, 7, 7);
}

.delete:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
}
 html{
     background-image: url("../img/TestFondPal.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }
html * {
    opacity: 1;
}
 body{
     margin-top: 7vh;
     opacity: 1;

 }

.ajout-csv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 10px 10px 10px 10px;

}

.ajout-csv input[type="file"]{
    border-radius: 5px;
}

.ajout-csv button{
    border-radius: 5px;
    margin-left: 145px;
}