<nav>
    <ul>
        <li><a class="navbar" href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
        <li><a class="navbar" href="#" title="monProfil">Mon profil</a></li>
        <li><a class="navbar" href="#" title="Sites">Sites</a></li>
        <li><a class="navbar" href="#" title="Villes">Villes</a></li>

    </ul>

</nav>